*.aux
*.log
*.swp
*.pdf
*.jpg
*.DS_store
*.fdb_latexmk
*.fls
*.ai
*.blg
*.run.xml
*.dvi
*.DS_store
*.tex~*
*.fdb_latexmk
*.fls
*.docx
*.tif*
*.eps
*.ai
tmp/
**/.ipynb_checkpoints/
fig/
output/
*.out
*.gz
*.bbl
graphicspath.tex
bibliography.tex
*.lnk
__pycache__/
**/__pycache__/
data/microscopy/
data/csv_channcap_bootstrap/
data/csv_protein_dist/
